<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
<%-  include partial_views/header.ejs %>
<%-  include partial_views/item_menu.ejs %>
<h3>My Contact Page</h3>
</body>
</html>